<div class="row">
  <div class="col">
    <ul class="nav nav-pills nav-fill">
      <h1><li class="nav-item my-list active"><a routerLink="" class="nav-link active">My Siiite</a></li></h1>
      <li class="nav-item my-list active"><a routerLink="" class="nav-link active">Strona glowna</a></li>
      <li class="nav-item my-list active"><a routerLink="blog" class="nav-link active">Blog</a></li>
      <li class="nav-item my-list active"><a routerLink="quiz" class="nav-link active">Quiz</a></li>
      <li class="nav-item my-list active"><a routerLink="contact" class="nav-link active">Kontakt</a></li>
      <li class="nav-item my-list active"><a routerLink="login" class="nav-link active">Log in</a></li>
      <li class="nav-item my-list active"><a routerLink="signup" class="nav-link active">Sign up</a></li>
      <li class="nav-item my-list active"><a (click)="logOut()" class="nav-link active">Sign out</a></li>
    </ul>
  </div>
</div>
